@import "tailwindcss" ;



body{ background-color: #111;
color: white;}

.moveX{
    animation-name: moveAnimation ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
}
.link2:hover .moveLink{
    opacity: 1;
}
@keyframes moveAnimation  {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}